body {
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
}

section {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

p {
    display: flex;
    justify-content: center;
    height: 10%;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
}

div {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div img:hover {
    cursor: pointer;
    width: 45%;
}

#imgs_left img:hover {
    transform: rotate(15deg);
}

#imgs_right img:hover {
    transform: rotate(-15deg);
}

img {
    width: 40%;
}

#player_select {
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player_select img{
    width: 50%;
    display: none;
}

#ia_select {
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ia_select img{
    width: 50%;
    display: none;
}

#vs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.points {
    background-color: white;
}

#pp {
    display: flex;
    align-items: flex-start;
    padding: 0 1%;
}

#pia {
    display: flex;
    align-items: flex-end;
    padding: 0 1%;
}